<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matra Supermarket Chooralmala</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Matra Supermarket Chooralmala</h1>
        <div class="buttons">
            <button onclick="location.href='customers.html'">Customers</button>
            <button onclick="location.href='purchase.html'">Purchase</button>
            <button onclick="location.href='staffs.html'">Staffs</button>
        </div>
    </div>
</body>
</html> -->
